<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="SomeToken" />
		<add key="ConnectionString" value="Server=localhost;Port=5432;Database=LybraryBot;UserId=user;Password=qwerty123" />
		<add key="MainDirPath" value="C:\Books\"/>
	</appSettings>
</configuration>